@use "./variables.scss" as *;
@use "./mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  color: $text-color;
  font-family: Inter, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;

  .container {
    max-width: 1250px;
    padding: 20px;
    margin: 16px auto;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;

    @media screen and (max-width: $xxl) {
      max-width: 1100px;
    }
    @media screen and (max-width: $xl) {
      max-width: 900px;
    }
    @media screen and (max-width: $lg) {
      margin: 16px;
    }
    @media screen and (max-width: $md) {
      max-width: 700px;
      padding: 16px;
    }
    @media screen and (max-width: $sm) {
      padding: 10px;
      margin: 10px;
    }
  }

  button {
    background-color: $primary-color;
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    color: #ffffff;
  }

  label {
    color: $primary-color;
    width: 100%;
    display: block;
    font-size: 10px;
    margin: 40px 0 8px 0;
  }

  input, textarea, .vs__search {
    @include enter-fields();
  }

  textarea {
    height: 86px;
  }

  .vs__dropdown-toggle {
    border-radius: 0;
    border: none;
    padding: 0;
  }

  .vs__selected {
    position: absolute;
    bottom: 0;
  }

  .apeale-form {

    @mixin section-layouts($col) {
      display: grid;
      column-gap: 20px;
      grid-template-columns: repeat($col, 1fr);
    }

    .first-section {
      @include section-layouts(3);
    }

    .second-section {
      @include section-layouts(4);

      .text-area {
        grid-column: 1/5;
      }
    }

    .status {
      justify-self: end;
    }
  }

  //pagination styles
  .pagination-container {
    display: flex;
    column-gap: 10px;
    list-style-type: none;
  }
  .paginate-buttons {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginate-buttons:hover {
    background-color: #d8d8d8;
  }
  .active-page {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;
  }
  .active-page:hover {
    background-color: $primary-color;
  }
}
