@use "./variables.scss" as *;

@mixin enter-fields {
  border-width: 0;
  border-bottom-width: 1px;
  width: 100%;
  color: $text-color;
  border-color: $borderline !important;
  outline: none;
  font-size: 16px;
  line-height: inherit;
}
